body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.ui.grid {
  width: 250px;
}

.ui.fluid.selection.dropdown {
  padding: 11px 21px;
}

.ui.fluid.selection.dropdown.categorySelection {
  width: 200px;
  margin: 10px 0px 20px 0px;
}

.ui.image {
  padding: 5px 0px 5px 0px;
}

.productTitle {
  font-weight: 400;
}

.ui.huge.center.aligned.header.mainHeader {
  padding: 10px 0px 0px 0px;
}

.ui.blue.inverted.button.active {
  font-family: Futura;
  font-size: 30px;
  color: white;
  border-radius: 0;
  background-color: #2185d0;
  padding-left: 0px !important;
}

.ui.blue.inverted.button.active {
  padding-left: 0;
}

input {
  width: 322;
  height: 38;
}

.singleProduct {
  padding: 15px;
}

.ui.right.menu {
  margin: 0;
}
.ui.menu {
  margin: 0;
  background-color: #2185d0;
  border-radius: 0;
}

.ui.big.centered.image {
  margin-top: 0.75em;
  border-radius: 20px;
}
.ui.list > .item {
  margin: 0;
}

li {
  list-style: none;
}

/*
for later if a subtitle for nav is neccesary
.nav-divider {
  background-color: #0e6eb8;
  height: 5px;
}
*/
